<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"></listener>
    </listeners>
    <test name="OrangeHRMTestChrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>
    <test name="OrangeHRMTestEdge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>
</suite>
